body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  width: 300px;
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff7b00;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #ff9500;
}

input, select {
  margin: 10px 0;
}

#preview img {
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
}
